$main: white;
$gold: #BDAE82;
$black: black;
$grey-dark: #1C1C1C;
$maxWidth: 1440;

html[data-theme='light'] {
  --main: #1C1C1C;

  --section-title: #1C1C1C; 
  --body-background: white;
  --nav-list-background: white;
  --gold: #BDAE82;
  --nav-hover: white;
  --language-active-hover: white;

  --btn-transparent-color: #1C1C1C;
  --btn-transparent-color-hover: #BDAE82;
  --btn-transparent-background: #BDAE82;
  --btn-transparent-background-hover: #1C1C1C;
  --btn-transparent-border: #BDAE82;
  --btn-transparent-border-hover: #1C1C1C;

  --btn-price-color: #1C1C1C;
  --btn-price-color-hover: #BDAE82;
  --btn-price-background: #BDAE82;
  --btn-price-background-hover: #1C1C1C;
  --btn-price-border: #BDAE82;
  --btn-price-border-hover: #1C1C1C;

  --btn-border: white;
  --btn-color: #1C1C1C;
  --btn-background: white;

  --btn-color-hover: #BDAE82;
  --btn-border-hover: #1C1C1C;
  --btn-background-hover: #1C1C1C;

  --btn-color-active: #BDAE82;
  --btn-border-active: #BDAE82;
  --btn-background-active: #1C1C1C;
  --btn-color-active--hover: #BDAE82;
  --btn-border-active--hover: #BDAE82;
  --btn-background-active--hover: #1C1C1C;
}

html[data-theme='dark'] {
  --main: white;

  --section-title: #BDAE82; 
  --body-background: black; 
  --nav-list-background: black;
  --gold: #BDAE82;
  --nav-hover: #BDAE82;
  --language-active-hover: #BDAE82;

  --btn-color: black;
  --btn-color-hover: white;
  --btn-background: #BDAE82;
  --btn-background-hover: #BDAE82;
  --btn-border: #BDAE82;
  --btn-border-hover: #BDAE82;

  --btn-color-active: black;
  --btn-border-active: #BDAE82;
  --btn-background-active: #BDAE82;
  --btn-color-active--hover: white;
  --btn-border-active--hover: #BDAE82;
  --btn-background-active--hover: #BDAE82;

  --btn-price-color: black;
  --btn-price-color-hover: white;
  --btn-price-background: #BDAE82;
  --btn-price-background-hover: #BDAE82;
  --btn-price-border: #BDAE82;
  --btn-price-border-hover: #BDAE82;

  --btn-transparent-border: #BDAE82;
  --btn-transparent-color: #BDAE82;
  --btn-transparent-background: transparent;

  --btn-transparent-color-hover: white;  --btn-transparent-border-hover: #BDAE82;
  --btn-transparent-background-hover: transparent;
}

@import "./_misc/normalize.scss";
@import "./_misc/media.scss";
@import "./_misc/layout.scss";
@import "./_misc/mixin.scss";

@import "./blocks/header.scss";
@import "./blocks/hero.scss";
@import "./blocks/main.scss";
@import "./blocks/btn.scss";
@import "./blocks/portfolio.scss";
@import "./blocks/title.scss";
@import "./blocks/section-title.scss";
@import "./blocks/skills.scss";
@import "./blocks/video.scss";
@import "./blocks/price.scss";
@import "./blocks/contacts.scss";
@import "./blocks/footer.scss";