.footer {
  padding: 53px 0px;
  width: 100%;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include phones {
      flex-wrap: wrap;
    }
  }

  &__left {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    color: var(--main);
    display: flex;
    align-items: center;

    @include phones {
      width: 100%;
      justify-content: center;
      line-height: 23px;
    }
  }

  &__copy {
    margin-right: 20px;
  }

  &__date {
    margin-right: 20px;
  }

  &__github {
    transition: .6s;

    &:hover {
      color: var(--gold);
      transition: 6s;
    }
  }

  &__rss {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    transition: .6s;
    color: var(--main);
    padding-left: 18px;

    &:hover {
      color: var(--gold);
      transition: .6s;
    }

    @include phones {
      width: 100%;
      text-align: center;
      padding-left: 0;
      line-height: 55px;
      margin-bottom: 15px;
    }
  }

  &__socials {
    @include phones {
      width: 100%;
      justify-content: center;
    }
  }

  .socials {
    display: flex;
    align-items: center;

    &__item {
      cursor: pointer;
      color: var(--main);
      transition: .6s;

      &:not(:last-child) {
        margin-right: 20px;
      }

      &:hover {
        color: var(--gold);
        transition: .6s;

        .socials__svg {
          transform: scale(1.2);
          transition: transform .6s;
        }
      }
    }

    &__ref {
      display: block;
    }

    &__svg {
      width: 32px;
      height: 32px;
      stroke: currentColor;
      fill: currentColor;
      transition: transform .6s;
    }
  }

  @include phones {
    padding: 28px 0px;
  }
}